
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Hero */
.apple-pay {
  height: 69.2rem;
  background-image: url('./AppleImg/hero_applepay__gaqjewbkuoeq_largetall.jpg');
  background-size: auto 58rem;
  background-position: center;
  background-repeat: no-repeat;

}

.copy-wrapper {
  padding-top:210px;
  text-align: center;
  display: flex;
  font-size: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  background-image: url('./AppleImg/hero_logo_applepay__ds5egdrlnmwm_large.png');
  background-repeat: no-repeat;
  width: 145px;
  height: 65px;
  margin-bottom: 15px;
}

.sub-head {

}

.link-btn {
  margin-top:20px;
  text-decoration: none;
  color: #2489db;
}

.link-btn::after{
  content: ">";
  margin-left: 5px;
  display: inline-block;
}

.link-btn:hover {
  text-decoration: underline;
}


